brotli==1.0.9
ConfigParser==5.2.0
cryptography==44.0.1
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
h5py==3.6.0
HTMLParser==0.0.2
importlib_metadata==4.11.1
keyring==23.5.0
lockfile==0.12.2
lxml==4.9.1
matplotlib==3.5.1
mock==4.0.3
monotonic==1.6
numpy==1.22.2
ordereddict==1.1
protobuf==5.29.6
pyOpenSSL==22.0.0
simplejson==3.17.6
tf-nightly
tornado==6.5
unicodedata2==14.0.0
zipp==3.19.1
jupyterlab
tensorboard